<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CLIENT_ID</key>
        <string>655919560663-7bnn869f2vgl5krhn94d050j0ckg6m5r.apps.googleusercontent.com</string>
        <key>REVERSED_CLIENT_ID</key>
        <string>com.googleusercontent.apps.655919560663-7bnn869f2vgl5krhn94d050j0ckg6m5r</string>
        <key>API_KEY</key>
        <string>AIzaSyBD527MWTMt1wrabF10mwtG_z5dNoS5JwE</string>
        <key>GCM_SENDER_ID</key>
        <string>655919560663</string>
        <key>PLIST_VERSION</key>
        <string>1</string>
        <key>BUNDLE_ID</key>
        <string>com.NetKnightShooterTutor.NetKnight1</string>
        <key>PROJECT_ID</key>
        <string>netknight-2a20b</string>
        <key>STORAGE_BUCKET</key>
        <string>netknight-2a20b.appspot.com</string>
        <key>IS_ADS_ENABLED</key>
        <false></false>
        <key>IS_ANALYTICS_ENABLED</key>
        <false></false>
        <key>IS_APPINVITE_ENABLED</key>
        <true></true>
        <key>IS_GCM_ENABLED</key>
        <true></true>
        <key>IS_SIGNIN_ENABLED</key>
        <true></true>
        <key>GOOGLE_APP_ID</key>
        <string>1:655919560663:ios:5b4327f7f7f19bba</string>
        <key>DATABASE_URL</key>
        <string>https://netknight-2a20b.firebaseio.com</string>
    </dict>
</plist>
